# 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: 

A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [1]:
import pandas as pd
import selenium
import time
import keyboard
import requests
import regex as re
import warnings
warnings.filterwarnings("ignore")

from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.service import Service
from selenium.common.exceptions import NoSuchElementException

In [2]:
driver=webdriver.Chrome()
time.sleep(1)

driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
time.sleep(1)

In [3]:
Rank =[]
Name =[]
Artist =[]
Upload_date=[]
Views=[]

try:
    rank_tags=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
    for i in rank_tags[0:30]:
        Rank.append(i.text.replace(".",""))
except NoSuchElementException:
    Rank.append('-')
except StaleElementReferenceException:
    Rank.append('-')    

try:
    name_tags=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
    for i in name_tags[0:30]:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')
except StaleElementReferenceException:
    Name.append('-')
    
try:
    artist=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artist[0:30]:
        Artist.append(i.text)
except NoSuchElementExceptionhElementException:
    Artist.append('-')
except StaleElementReferenceException:
    Artist.append('-')
    
try:
    upload_date=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in upload_date[0:30]:
        Upload_date.append(i.text)
except NoSuchElementExceptionhElementException:
    Upload_date.append('NA')
except StaleElementReferenceException:
    Upload_date.append('NA')

    
try:
    views=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in views[0:30]:
        Views.append(i.text)
except NoSuchElementExceptionhElementException:
    Views.append('NA')
except StaleElementReferenceException:
    Views.append('NA')
    
df=pd.DataFrame({'Rank':Rank,'Video Name':Name,'Uploader':Artist,'Views (in Billons)':Views,'Upload Date':Upload_date})
#df.index +=1 
#df.index.name = "Rank"
df.name = "Most viewed videos on YouTube from Wikipedia"
df1 = df.style.set_table_styles([dict(selector='th', props=[('text-align', 'center')])])
df1.set_properties(**{'text-align': 'center'}).hide_index()

df1

In [4]:
driver.close()

# 2. Scrape the details team India’s international fixtures from bcci.tv.

Url = https://www.bcci.tv/.

You need to find following details:

A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [5]:
driver=webdriver.Chrome()
time.sleep(1)
url='https://www.bcci.tv/fixtures'
driver.get(url)
time.sleep(1)

In [7]:
driver.maximize_window()
time.sleep(5)
search_btn=driver.find_element(By.XPATH,'//*[@id="fixtures"]/div[1]/div[2]/div/div[1]/div')
search_btn.click()

In [8]:
search_btn=driver.find_element(By.XPATH,'//*[@id="fixtures"]/div[1]/div[2]/div/div[1]/div/div[2]/div[1]/input')
search_btn.click()

In [9]:
enter=driver.find_element(By.XPATH,'//*[@id="fixtures"]/div[1]/div[2]/div/div[1]/div/div[2]/div[1]/input')
enter.send_keys("india")

In [10]:
search_btn=driver.find_element(By.XPATH,'//*[@id="fixtures"]/div[1]/div[2]/div/div[1]/div/div[2]/div[3]')
search_btn.click()

In [11]:
try:
    try:
        time.sleep(2)
        search_btn=driver.find_element(By.XPATH,'//*[@id="fixtures"]/div[2]/div[2]/div/button')
        search_btn.click()
    
    except:
        time.sleep(2)
        search_btn=driver.find_element(By.XPATH,'//*[@id="fixtures"]/div[2]/div[2]/div/button')
        search_btn.click()
except:
    print("Thats all...")

In [12]:
Series =[]
Place=[]
Date=[]
Time=[]

try:
    for i in driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')[0:]:
        Series.append(i.text)
except NoSuchElementException:
    Series.append('-')
    

try:
    for i in driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]'):
        Place.append(i.text)
except NoSuchElementException:
    Place.append('-')
    

try:
    for i in driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]'):
        Date.append(i.text)
except NoSuchElementException:
    Date.append('-')
    
    
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]'):
        Time.append(i.text)
except NoSuchElementException:
    Time.append('-')
    
len(Series),len(Place),len(Date), len(Time)

df2=pd.DataFrame({"Series":Series,"Place":Place,"Date":Date,"Time":Time})
#df2.index +=1
#df2.index.name = "total match scheduled till now"
df2.name = "ICCI-Fixtures"
df3 = df2.style.set_table_styles([dict(selector='th', props=[('text-align', 'center')])])
df3.set_properties(**{'text-align': 'center'}).hide_index()
df3

In [13]:
time.sleep(2)
driver.close()

# 3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:

A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [14]:
driver=webdriver.Chrome()
time.sleep(1)
url='https://www.statisticstimes.com/economy/india/indian-states-gdp.php'
driver.get(url)
time.sleep(1)
driver.maximize_window()

In [15]:
Rank = []
State = []
GDSP_18_19 = []
GDSP_19_20 = []
Share_18_19 = []
GDP = []

try:
    rank=driver.find_elements(By.XPATH,'//tr[@class="odd"]/td[1]')
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('-')
    
try:
    state=driver.find_elements(By.XPATH,'//tr[@class="odd"]/td[2]')
    for i in state:
        State.append(i.text)
except NoSuchElementException:
    State.append('-')
    
    
try:
    gdsp_18_19=driver.find_elements(By.XPATH,'//tr[@class="odd"]/td[4]')
    for i in gdsp_18_19:
        GDSP_18_19.append(i.text)
except NoSuchElementException:
    GDSP_18_19.append('NA')
    
try:
    gdsp_19_20=driver.find_elements(By.XPATH,'//tr[@class="odd"]/td[3]')
    for i in gdsp_19_20:
        GDSP_19_20.append(i.text)
except NoSuchElementException:
    GDSP_19_20.append('-')
    
    
try:
    share=driver.find_elements(By.XPATH,'//tr[@class="odd"]/td[5]')
    for i in share:
        Share_18_19.append(i.text)
except NoSuchElementException:
    Share_18_19.append('NA')
    
    
try:
    gdp=driver.find_elements(By.XPATH,'//tr[@class="odd"]/td[6]')
    for i in gdp:
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append('NA')
    
    
df=pd.DataFrame({'State':State,'GSDP(18-19)':GDSP_18_19,'GSDP(19-20)':GDSP_19_20,'Share(18-19)':Share_18_19,'GDP($ Billions)':GDP})
df.index.name = "Rank"
df.index += 1
df

,State,GSDP(18-19),GSDP(19-20),Share(18-19),GDP($ Billions)
Rank,,,,,
1,Maharashtra,"2,632,792",-,13.94%,399.921
2,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,Karnataka,"1,493,127","1,631,977",7.91%,226.806
4,Rajasthan,"942,586","1,020,989",4.99%,143.179
5,Telangana,"861,031","969,604",4.56%,130.791
6,Kerala,"781,653",-,4.14%,118.733
7,Haryana,"734,163","831,610",3.89%,111.519
8,Punjab,"526,376","574,760",2.79%,79.957
9,Assam,"315,881",-,1.67%,47.982
10,Jharkhand,"297,204","328,598",1.57%,45.145
11,Jammu & Kashmir,"155,956",-,0.83%,23.690
12,Goa,"73,170","80,449",0.39%,11.115
13,Chandigarh,"42,114",-,0.22%,6.397
14,Meghalaya,"33,481","36,572",0.18%,5.086
15,Manipur,"27,870","31,790",0.15%,4.233
16,Arunachal Pradesh,"24,603",-,0.13%,3.737
17,Andaman & Nicobar Islands,-,-,-,-
18,Maharashtra,"2,332,992",-,13.97%,-
19,Uttar Pradesh,"1,404,761","1,495,758",8.41%,"1,015,735"
20,Gujarat,"1,322,936",-,7.92%,-
21,Rajasthan,"845,247","916,014",5.06%,"630,693"
22,Andhra Pradesh,"776,140","875,429",4.65%,"595,605"
23,Kerala,"707,542",-,4.24%,-
24,Haryana,"666,075","755,790",3.99%,"514,983"
25,Punjab,"472,506","517,521",2.83%,"374,015"
26,Assam,"282,782",-,1.69%,-
27,Chhattisgarh,"266,537","288,041",1.60%,"210,837"
28,Himachal Pradesh,"133,303","143,063",0.80%,"107,171"
29,Goa,"66,060","72,181",0.40%,"56,810"
30,Chandigarh,"37,571",-,0.22%,-
31,Meghalaya,"29,544","32,833",0.18%,"23,564"
32,Sikkim,"25,141","28,391",0.15%,"17,060"
33,Arunachal Pradesh,"22,488",-,0.13%,-
34,Andaman & Nicobar Islands,-,-,-,-

In [16]:
time.sleep(2)
driver.close()

# 4. Scrape the details of trending repositories on Github.com.

Url = https://github.com/

You have to find the following details:

A) Repository title
B) Repository description
C) Contributors count
D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [17]:
driver=webdriver.Chrome()
time.sleep(1)
url='https://github.com/trending'
driver.get(url)
time.sleep(1)
driver.maximize_window()

find=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/div/qbsearch-input/div[1]/button/span')
find.click()

enter=driver.find_element(By.XPATH,'//*[@id="query-builder-test"]')
enter.send_keys('trending repositories')

time.sleep(1)
find=driver.find_element(By.XPATH,'//*[@id="query-builder-test-result-trending-repositories"]/span')
find.click()

In [18]:
Repository_title=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="text-normal"]')[:19]:
        Repository_title.append(i.text.replace("/",""))
except NoSuchElementException:
    Repository_title.append('-')
    
    
    
Repository_description=[]
try:
    for i in driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')[:19]:
        Repository_description.append(i.text)
except NoSuchElementException:
    Repository_description.append('-')
    
    
Contributors_count=[]
try:
    for i in driver.find_elements(By.XPATH,'//a[@class="Link Link--muted d-inline-block mr-3"][1]')[:19]:
        Contributors_count.append(i.text)
except NoSuchElementException:
    Contributors_count.append('-')
    

Language_used=[]
try:
    for i in driver.find_elements(By.XPATH,"//span[@class='d-inline-block ml-0 mr-3']")[:19]:
        Language_used.append(i.text)
except NoSuchElementException:
    Language_used.append('-')

    
df=pd.DataFrame({"Repository_title":Repository_title,"Repository_description":Repository_description,"Contributors_count":Contributors_count,"Language_used":Language_used})
df.index +=1
df

,Repository_title,Repository_description,Contributors_count,Language_used
1,bgstaal,"A quick example of how one can ""synchronize"" a...","9,151",JavaScript
2,run-llama,"Build ChatGPT over your data, all with natural...","2,928",Python
3,teslamotors,2008-2012 Roadster Development and Diagnostic ...,851,JavaScript
4,trungdq88,"Awesome deals on Black Friday: Apps, SaaS, Boo...","3,974",TypeScript
5,fanmingming,✯ 一个可直连访问的电视/广播图标库与相关工具项目 ✯ 🔕 永久免费 直连访问 完整开源 不...,"15,641",HTML
6,keiko233,Clash Nyanpasu!,"2,321",Python
7,linexjlin,leaked prompts of GPTs,"3,621",Java
8,wesbos,The code behind my hot tips,731,C
9,lllyasviel,Focus on prompting and generating,"17,671",Java
10,florinpop17,A Collection of application ideas which can be...,"69,443",Go
11,StarRocks,"StarRocks, a Linux Foundation project, is a ne...","6,275",Shell
12,antirez,C Telegram bot framework,664,Python
13,GrowingGit,🇨🇳 GitHub中文排行榜，各语言分设「软件 | 资料」榜单，精准定位中文好项目。各取所需...,"70,189",TypeScript
14,1Panel-dev,🔥 🔥 🔥 现代化、开源的 Linux 服务器运维管理面板。,"13,146",Jupyter Notebook
15,LouisShark,store all agent's system prompt,"1,376",Swift
16,Stability-AI,Generative Models by Stability AI,"14,493",Java
17,AmruthPillai,A one-of-a-kind resume builder that keeps your...,"14,116",JavaScript
18,microsoft,"12 Weeks, 24 Lessons, AI for All!","22,254",Java
19,fffaraz,A curated list of awesome C++ (or C) framework...,"51,405",TypeScript

In [19]:
len(Language_used),len(Contributors_count),len(Repository_description),len(Repository_title)

(19, 19, 19, 19)

In [20]:
driver.close()

# 5. Scrape the details of top 100 songs on billiboard.com. 

Url = https:/www.billboard.com/ You have to find the following details:

A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [21]:
driver=webdriver.Chrome()
url='https://www.billboard.com/charts/hot-100/'
driver.get(url)
time.sleep(1)
driver.maximize_window()

In [22]:
Song =[]
Artist =[]
Last_Week_rank=[]
Peak_rank =[]
Weeks =[]


try:
    song=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3')
    for i in song:
        Song.append(i.text)
except NoSuchElementException:
    Song.append('NA')
    
# Scraping Song Artist Name
try:
    artist=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/span[1]')
    for i in artist:
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append('NA')
    
# Scraping Song last week rank
try:
    last_rank=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"][1]')
    for i in last_rank:
        Last_Week_rank.append(i.text)
except NoSuchElementException:
    Last_Week_rank.append('NA')

# Scraping Song peak rank
try:
    peak=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"][2]')
    for i in peak:
        Peak_rank.append(i.text)
except NoSuchElementException:
    Peak_rank.append('NA')

# Scraping Song weeks on chart
try:
    weeks=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"][2]')
    for i in weeks:
        Weeks.append(i.text)
except NoSuchElementException:
    Weeks.append('NA')

                              
                              
df=pd.DataFrame({'Song_Name':Song,'Artist_Name':Artist,'Last_week_rank':Last_Week_rank,'Peak':Peak_rank,'Weeks_on_chart':Weeks})
df.index +=1
df.index.name="Rank"
df

,Song_Name,Artist_Name,Last_week_rank,Peak,Weeks_on_chart
Rank,,,,,
1,Cruel Summer,Taylor Swift,1,1,28
2,Lovin On Me,Jack Harlow,-,2,1
3,Paint The Town Red,Doja Cat,2,1,15
4,Snooze,SZA,4,2,49
5,Is It Over Now? (Taylor's Version) [From The V...,Taylor Swift,3,1,3
...,...,...,...,...,...
96,Mi Ex Tenia Razon,Karol G,91,22,13
97,Different 'Round Here,Riley Green Featuring Luke Combs,-,97,1
98,But I Got A Beer In My Hand,Luke Bryan,98,92,5
99,Better Than Ever,YoungBoy Never Broke Again & Rod Wave,-,99,1
100,Soak City (Do It),310babii,-,100,1

In [23]:
time.sleep(2)
driver.close()

# 6. Scrape the details of Highest selling novels.

A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [24]:
driver=webdriver.Chrome()
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)
time.sleep(1)
driver.maximize_window()

In [25]:
Book =[]
Author =[]
Volumes_sold =[]
Publisher =[]
Genre =[]


try:
    book=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in book:
        Book.append(i.text)
except NoSuchElementException:
    Book.append('NA')
    
try:
    author=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in author:
        Author.append(i.text)
except NoSuchElementException:
    Author.append('NA')
    

try:
    sold=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in sold:
        Volumes_sold.append(i.text)
except NoSuchElementException:
    Volumes_sold.append('NA')

try:
    publisher=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in publisher:
        Publisher.append(i.text)
except NoSuchElementException:
    Publisher.append('NA')
    
try:
    genre=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('NA')
    
df6=pd.DataFrame({'Book_name':Book,"Author_name":Author,"Volumes_sold":Volumes_sold,"Publisher":Publisher,"Genre":Genre})
df6.index +=1
df6.index.name = "Rank"
df6

,Book_name,Author_name,Volumes_sold,Publisher,Genre
Rank,,,,,
1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [26]:
time.sleep(2)
driver.close()

# 7. Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:
        
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [27]:
driver=webdriver.Chrome()
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)
time.sleep(1)
driver.maximize_window()

In [28]:
Name =[]
Year_Span=[]
Genre =[]
Run_Time =[]
Ratings =[]
Votes =[]

try:
    name=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('NA')

try:
    year=driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
    for i in year:
        Year_Span.append(i.text)
except NoSuchElementException:
    Year_Span.append('NA')
    

try:
    genre=driver.find_elements(By.XPATH,'//span[@class="genre"]')
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('NA')
    

try:
    runtime=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
    for i in runtime:
        Run_Time.append(i.text)
except NoSuchElementException:
    Run_Time.append('NA')


try:
    ratings=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]/span[2]')
    for i in ratings:
        Ratings.append(i.text)
except NoSuchElementException:
    Ratings.append('NA')


try:
    votes=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[4]/span[2]')
    for i in votes:
        Votes.append(i.text)
except NoSuchElementException:
    Votes.append('NA')
    
df7=pd.DataFrame({"Name":Name,"Year Span":Year_Span,"Genre":Genre,"Run Time":Run_Time,"Ratings":Ratings,"Votes":Votes})
df7.index.name = "Most watched Tv series-rank"
df7.index += 1
df7

,Name,Year Span,Genre,Run Time,Ratings,Votes
Most watched Tv series-rank,,,,,,
1,Game of Thrones,(2011–2019),"Action, Adventure, Drama","4,189 min",9.2,"2,226,000"
2,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,293,090"
3,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,056,005"
4,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"310,066"
5,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"269,178"
...,...,...,...,...,...,...
96,Reign,(2013–2017),Drama,42 min,7.5,"53,260"
97,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"65,353"
98,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"213,113"
99,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"44,367"
100,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"277,880"

In [29]:
len(Name),len(Year_Span),len(Genre),len(Run_Time),len(Ratings),len(Votes)

(100, 100, 100, 100, 100, 100)

In [30]:
time.sleep(2)
driver.close()


# 8. Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/ You have to find the following details:

A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute 
G) Year

Note: - from the home page you have to go to the Show All Dataset page through code.

In [31]:
driver=webdriver.Chrome()
url='https://archive.ics.uci.edu/datasets'
driver.get(url)
time.sleep(1)
driver.maximize_window()

In [32]:
try:
    click=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/div/div[2]/button')
    click.click()
    
except:
    print('no cookies available')

In [35]:
try:
    time.sleep(3)
    click=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/div/div[2]/button')
    click.click()
    
except:
    print('no cookies available')

In [36]:
pages=[]
start=0
end=65

for page in range(start,end):
    page=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
    for i in page:
        pages.append(i.get_attribute('href'))
    next_page=driver.find_element(By.XPATH,'//button[@class="btn-primary btn-sm btn"][2]')
    next_page.click()
    time.sleep(2)
len(pages)

650

In [38]:
Dataset =[]
Data_Type =[]
Task =[]
Attribute_Type =[]
No_of_Instances =[]
No_of_Attribute =[]
Year =[]

for i in pages:
    driver.get(i)
    time.sleep(2)

    try:
        dataset=driver.find_element(By.XPATH,'//h1[@class="text-3xl font-semibold text-primary-content"]')
        Dataset.append(dataset.text)
    except:
        Dataset.append('-')
        
    
    try:
        datatype=driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[1]/p')
        Data_Type.append(datatype.text)
    except:
        Data_Type.append('-')
        

    try:
        task=driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[3]/p')
        Task.append(task.text)
    except:
        Task.append('-')
        
        
    try:
        attributetype=driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[4]/p')
        Attribute_Type.append(attributetype.text)
    except:
        Attribute_Type.append('-')
        

        
    try:
        no_of_instances=driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[5]/p')
        No_of_Instances.append(no_of_instances.text)
    except:
        No_of_Instances.append('-')
        
        
    try:
        no_of_attribute=driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[6]/p')
        No_of_Attribute.append(no_of_attribute.text)
    except:
        No_of_Attribute.append('-')
        
        

    try:
        year=driver.find_element(By.XPATH,'//h2[@class="text-sm text-primary-content"]')
        Year.append(year.text.split()[2])
    except:
        Year.append('-')
        
        
        
        
len(Dataset),len(Data_Type),len(Task),len(Attribute_Type),len(No_of_Instances),len(No_of_Attribute),len(Year)

(650, 650, 650, 650, 650, 650, 650)

In [39]:
df8=pd.DataFrame({'DataSet Title':Dataset,'Data Type':Data_Type,'Task':Task,'Attribute Type':Attribute_Type,
                'No of Instances':No_of_Instances,
                'No of Attribute':No_of_Attribute,
                'Year':Year})

df8.index +=1
df8.index.name ='UCI-ML repositories Datasets'
df8

,DataSet Title,Data Type,Task,Attribute Type,No of Instances,No of Attribute,Year
UCI-ML repositories Datasets,,,,,,,
1,Iris,Tabular,Classification,Real,150,4,6/30/1988
2,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,6/30/1988
3,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,4/30/1996
4,Wine,Tabular,Classification,"Integer, Real",178,13,6/30/1991
5,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30,10/31/1995
...,...,...,...,...,...,...,...
646,TamilSentiMix,"Multivariate, Text",Classification,Categorical,15744,-,8/13/2023
647,Undocumented,-,-,-,-,-,-
648,Moral Reasoner,Domain-Theory,-,-,202,-,5/31/1994
649,NSF Research Award Abstracts 1990-2003,Text,-,-,129000,-,11/17/2003
650,DGP2 - The Second Data Generation Program,Data-Generator,-,Real,-,-,-

In [40]:
time.sleep(2)
driver.close()

# --Thank you--